<?xml version="1.0"?>

<launch>

  <node pkg="joystick_goal" type="joystick_goal" name="joystick_goal" output="screen">
    <rosparam command="load" file="$(find joystick_goal)/config/settings.yaml" />
    <!--remap from="/user/goal" to="/user/goal"/-->
    <!--remap from="/user/input" to="/user/input"/-->
  </node>

</launch>
