<?xml version="1.0"?>

<launch>
  <node pkg="shared_dwa" type="shared_dwa" name="shared_dwa" output="screen">
    <rosparam file="$(find shared_dwa)/config/shared_dwa_config.yaml" command="load"/>
    <!--remap from="/trajectory_generator/goal" to="/joystick_goal/goal" /-->
    <!--remap from="/encoders/odom" to="/odom" /--> 
    <remap from="/shared_dwa/cmd_vel" to="/cmd_vel" /> 
  </node>

</launch>
