<?xml version="1.0"?>

<launch>
  <node pkg="shared_mpc" type="shared_mpc" name="shared_mpc" output="screen">
    <rosparam command="load" file="$(find scat_launch)/config/scatwheel_params.yaml" />
    <rosparam command="load" file="$(find shared_mpc)/config/settings.yaml" />        
    <rosparam command="load" file="$(find shared_mpc)/config/ipopt_params.yaml" />    
    <rosparam command="load" file="$(find shared_mpc)/config/voronoi_params.yaml" />
    <param name="fixed_frame_id" value="odom" />
    <param name="pos_method" value="odom" />

    <remap from="/odom" to="/encoders/odom"/>
    <remap from="/control/cmd_vel" to="/cmd_vel"/>
    <!-- <remap from="/user/cmd_vel" to="/falcon/cmd_vel"/>-->
  </node>

  <!-- Launch Obstacle Detector -->
  <!--<include file="$(find obstacle_detector)/launch/nodes.launch"/>-->

  <!-- Launch Line Detector -->
  <!-- <include file="$(find laser_line_extraction)/launch/line_extractor.launch"/> -->

  <!-- Launch Line Detector -->
  <include file="$(find laserline)/launch/laserline.launch"/> 

</launch>
