<?xml version="1.0"?>

<launch>
    <!-- Launch Master -->
    <node pkg="scat_master" name="scat_master" type="scat_master"  output="screen">
	<rosparam command="load" file="$(find scat_master)/config/settings.yaml" />
    </node>

    <node pkg="scat_master" name="keyboard_node" type="keyboard_node"  output="screen"/>
</launch>
