<?xml version="1.0"?>
<launch>
	<arg name="angle_max" default="-3.0"/>
	<arg name="angle_min" default="3.0"/>  
	<arg name="range_max" default="0.3"/>
	<arg name="range_min" default="25.0"/>  
	<arg name="laser_topic" default="/scan"/>	
	<arg name="laser_topic_filtered" default="/scan/filtered"/>

  <node name="scan_filter" pkg="scan_filter"  type="scan_filter" output="screen">
	<param name="range_max"     type="double"    value="$(arg range_max)"/>	
	<param name="range_min"     type="double"    value="$(arg range_min)"/>
  	<param name="angle_max"     type="double"    value="$(arg angle_max)"/>  
	<param name="angle_min"     type="double"    value="$(arg angle_min)"/>  

	<remap from="/scan" to="$(arg laser_topic)"/>
	<remap from="/scan/filtered" to="$(arg laser_topic_filtered)"/>    
  </node>

</launch>
