<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

	<xacro:property name="hip_r_joint_angle" value="-1.57"/>
    <xacro:property name="hip_l_joint_angle" value="-1.57"/>

    <xacro:property name="knee_r_joint_angle" value="1.57"/>
    <xacro:property name="knee_l_joint_angle" value="1.57"/>

    <xacro:property name="shoulder_r_flexion_angle" value="1.62"/>
    <xacro:property name="shoulder_l_flexion_angle" value="1.62"/>

    <xacro:property name="shoulder_r_abduction_angle" value="1.07"/>
    <xacro:property name="shoulder_l_abduction_angle" value="1.07"/>

    <xacro:property name="shoulder_r_rotation_angle" value="-1.57"/>
    <xacro:property name="shoulder_l_rotation_angle" value="-1.57"/>

    <xacro:property name="elbow_r_angle" value="0.7"/>
    <xacro:property name="elbow_l_angle" value="0.7"/>

</robot>