<?xml version="1.0"?>

<launch>
  <arg name="dynamic_reward" default="true"/>

  <node pkg="sparse_voronoi" type="sparse_voronoi" name="sparse_voronoi" output="screen">
    <rosparam command="load" file="$(find sparse_voronoi)/config/settings.yaml" />
    <param name="dynamic_reward" value="$(arg dynamic_reward)" />
    <param name="prediction_horizon" value="10" />
    <param name="sampling_time" value="0.5" />
    <!--<remap from="/sparse_voronoi/interp_path" to="/global_planner_plugin/trajectory" />-->
    <!--<remap from="/move_base_simple/goal" to="/sparse_voronoi/goal" />-->
  </node>

  <!-- Launch Obstacle Detector --> 
  <!-- <include file="$(find obstacle_detector)/launch/nodes.launch"/> -->

  <!-- Launch Line Detector -->
  <!-- <include file="$(find laser_line_extraction)/launch/line_extractor.launch"/> -->

  <!-- Launch Line Detector --> 
   <include file="$(find laserline)/launch/laserline.launch"/> 

  <!-- If required, launch Localization pipeline (only for dynamic_reward utilization) -->
  <include if="$(arg dynamic_reward)" file="$(find scat_launch)/launch/localization.launch">
    <arg name="map" value="maze.yaml" />
  </include>

</launch>
