<?xml version="1.0"?>
<launch>
  <node name="control_keyboard" pkg="control_keyboard" type="control_keyboard.py" output="screen">
    <!--<param name="scale_linear" value="0.2" type="double"/>
    <param name="scale_angular" value="0.4" type="double"/>-->
    <remap from="/keyboard" to="/arduino/joystick"/>
  </node>
</launch>
